// manualaddframe styles
#manualaddframe-content
    h2
        margin-bottom 20px

#current-score-display
    font-size 35px
    color cd-flash

#add-button-container
    margin auto
    margin-top: 5px
    background-color cd-dark
    padding 20px
    display flex
    justify-content: space-around
    max-width 500px

    .add-button
        color cd-dark
        background-color cd-flash
        font-size 20px
        font-weight bold
        border-radius 7px
        width 50px
        padding 5px
        text-align center
