//-############################################################
svg#svgicon-definitions
    defs
        filter#svg-dropshadow-filter(height="130%" width="130%")
            fegaussianblur(in="SourceGraphic" stddeviation="3" result="blurOut")
            feColorMatrix(in="blurOut" type="saturate" values="0.25" result="shadowOut")
            feblend(in='SourceGraphic' in2='shadowOut' mode='normal')

//-############################################################
svg#svgicon-symbols

    symbol#svg-heart-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 161 166" fill="none")
        path(d="M130.5 98.964C116.483 128 97 151 97 151C97 151 44.5 116 28 98.964C11.5 81.9279 7.03239 53.8762 28 38.5C50.5 22 80.5 47.5 80.5 47.5C80.5 47.5 98 11.4091 126.5 23.5C155 35.5909 138.466 82.464 130.5 98.964Z", stroke="currentColor", stroke-width="10")
        path(d="M61 95C61 95 66.5 106 79.5 106C92.5 106 98.5 90.5 98.5 90.5", stroke="currentColor", stroke-width="10")