/*==========================================================
Font
==========================================================*/
@font-face
    font-family: "SourceSans Pro"
    src: url("/font/SourceSansPro-Regular.ttf")

/*==========================================================
Colors
==========================================================*/
cd-dark = #113137
cd-bright = #EFEFC7
cd-flash = #B73783

/*==========================================================
General Tag Styles
==========================================================*/
body
    background-color: cd-dark
    color cd-bright
    font-family: "SourceSans Pro", sans-serif

h1
    font-size: 17px

h2
    font-size: 15px

p
    font-size: 12px


