//- settingspage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #settingspage-content
        h1 Here go the Settings
        input(type="text")
        h2 Some more Settings input:
        input(type="text")
        