//- settingspage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #settingspage-content
        h1 Your Settings         
        h2 Secret Manager Service
        input#secret-manager-input(type="text" value="https://secrets.extensivlyon.coffee")
        h2 Data Manager Service
        input#data-manager-input(type="text" value="https://data.extensivlyon.coffee")
        include ../accountsettingsmodule/accountsettings.pug